<%- include('includes/header')   -%>



<form action="/user/order" method="post">
    <input type="date" value="2018-07-22" name="date">
    <br> <br>

    <input type="time" name="time">
    <button type="submit">Book</button>

</form>



<%-  include('includes/footer') -%>