body{
    font-family: 'Montserrat', sans-serif;
}
h2{
}
/* ---------------------------Buttons--------------------------- */
.s_button {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .5rem;
    margin: .5rem;
  
  }
.red-button-large {
    
    border-color: red;
    color: red;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    
  }
  .red-button-large:hover{
      background-color: red;
      color: white;
  }
/* ----------------------------*************************----------------------- */


/*------------------------------NavBar------------------------------*/
.navbar{
   background-color: #FEC969;
}
.nav-link{
    color: white;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}
.nav-link:hover{
    color: #FF0D0D;
}
.nav-item {
    padding: 0 18px;
}
  .dropdown-item{
      color: white;
  }
.dropdown-menu{
    background-color: #FF0D0D;
}
/*****************************************Top Section***********************************/
#Top{
    background-color: #FEC969;
    height: 650px;
    padding: 30px;
}
.landing-image1{
    position: absolute;
    width: 50%;
    margin-left: 20%;
    margin-top: 70px;
}
.landing-image2{
    position: absolute;
    width: 10%;
    margin-left: 80%;
    margin-top: 350px;
}
.container-fluid{
    padding: 0;
    margin: 0;
}

/***********************************************Mantra***********************************************/
#Mantra{
    text-align: center;
    padding: 5% 5% 0 5%;
    color: red;
}
.diya1{
    margin-left: 50px;
}
.diya2{
    margin-right: 50px;
}

/**************************************Mid Section***************************************************/
#Mid{
    padding: 5%;
}
.card-header{
    text-align: center;
    color: #FF0D0D;
}


.card-body{
    text-align: center;
}
.puja-link{
    text-decoration: none;
    
}
.puja-link:hover{
   color: #FF0D0D;
    
    transform: scale(1.5);
    text-decoration: none;
}
.links:hover{
    transform: scale(1.5);

}
/***************************************************Bottom******************************************/
#Bottom{
    
    left: 0;
   bottom: 0;
   width: 100%;
    text-align: center;
    background-color: rgba(236, 121, 14, 0.712);
    color: white;
    padding: 1%;
}
/***************************************************Media Query**************************************************/

@media (max-width:1200px)
{
    .landing-image1{
        position: absolute;
        width: 70%;
        margin-left: 10%;
        margin-top: 10%;
    }
    .landing-image2{
        position: absolute;
        width: 15%;
        margin-left: 75%;
        margin-top: 38%;
    }
    h1{
        font-size: 1.5rem;
        padding: 2% 0;
    }
    .diya1{
        margin-left: 50px;
        width: 90px;
        width: 15%;
    }
    .diya2{
        margin-right: 50px;
        width: 90px;
        width: 15%;
    }
    .swastik{
        width: 10%;
    }
    #Mantra{
        text-align: center;
        padding: 5% 5% 2.5% 5%;
        color: red;
    }
    h3{
        font-size: 1.2rem;
    }
    #Mid{
        padding: 5%;
    }

}
@media (max-width:900px){
    .Logo{
        width: 200px;
    }
    .navbar-toggler {
        background-color: white;
    }
    #Top{
        height: 350px;
    }
    .landing-image1{
        position: absolute;
        margin-left: 3%;
       width: 75%;
        margin-top: 15%;
    }
    .landing-image2{
        position: absolute;
        width: 15%;
        margin-left: 70%;
        margin-top: 55%;
        visibility: hidden;
    }
    h1{
        font-size: 1rem;
    }
    .diya1{
        margin-left: 50px;
        width: 90px;
        width: 15%;
    }
    .diya2{
        margin-right: 50px;
        width: 90px;
        width: 15%;
    }
    .swastik{
        width: 15%;
    }
    @media (max-width:800px){
        .landing-image1{
            
            margin-left: 12.5%;
           width: 65%;
            margin-top: 5%;
        }
    }
    @media (max-width:500px){
        .Logo{
            width: 150px;
        }
        .landing-image1{
            
            margin-left: 8%;
           width: 70%;
            margin-top: 12%;
        }
        #Top{
            background-color: #FEC969;
            height: 300px;
            padding: 30px;
        }
    }
    

}
/*---------------------------------------------*******************************************************-------------------------------------------*/




/***************************************************Details.Css*******************************************/
.desc-top{
    margin: 3% 0 3% 0;color: red;
}
.desc-image{
    position: absolute;
    width: 5%;
    margin-left: 30%;
}
.desc-mid{
    padding: 0 5% 0.75% 5%;
}
.desc-h2{
    font-size: 2rem;
    padding: 1% 0 1% 0;
    color: #FF851B;
}
.desc-p{
    font-size: 1.1rem;
    line-height: 2;
   
   
}
.desc-p-div{
    border-style: solid;
   border-width: 1px;
   margin-top: 1%;
   padding: 1%;
   background-color: wheat;
   border-radius: 20px;
}
.desc-p-div:hover{
    transform: scale(1.1);

}
.date{
    margin-left: 5%;
}
.date:hover{
    color: white;
}
.bookdate-button{
    color: red;
}
.bookdate-button:hover{
    color: white;
    text-decoration: none;
}

/**************************************************************Media Query**************************************/
@media (max-width:1200px){
    .desc-h1{
        font-size: 1.5rem;
    }
    .desc-image{
        position: absolute;
        width: 9%;
        margin-left: 25%;
        margin-top: 3%;
    }
    
    .desc-h2{
        font-size: 1.2rem;
        padding: 1% 0 1.5% 0;
        color: #FF851B;
    }
    .desc-p{
        font-size: 1rem;
        line-height: 2;
       
    }

}
@media (max-width:800px){

    .desc-image{
        position: absolute;
        width: 9%;
        margin-left: 25%;
        margin-top: 10%;
    }
}
@media (max-width:500px){
    .Logo{
        width: 150px;
    }
    .desc-h1{
        font-size: 1rem;
    }
}
/*--------------------------------------------------*******************************************-----------------------------------------------*/

/**************************************************Login Page******************************************************/


.namaste{
    width: 50%;
    margin: 40% 20% ;
    
}

.red-button-login {
    
    border-color: whitesmoke;
    background-color: whitesmoke;
    color: red;
    font-size: 1rem;
    padding: .3rem 2.5rem;
    border-radius: .5rem;
    margin: 0 20%;
    box-shadow: .1rem .1rem gray;
    
  }
  .red-button-login:hover{
      border-color: red;
      color: whitesmoke;
      background-color: red;
      transform: scale(1.5);
  }
  .login-title{
      position: absolute;
      margin: 30% 29%;
      font-size: 3.5rem;
      font-family: 'Montserrat', sans-serif;
      
  }
  .form-text{
      margin: 10% 0 2% 0;
      font-size: 1.2rem;
  }
  .text-box{
      border: solid;
      border-width: 2px;
      border-radius: 12px;
      padding: 3.5%;
      box-shadow: 0.05rem 0.05rem black;
      border-color: gray;
  }
  .input-box:hover{
      transform: scale(1.2);
  }
.login-form{
    padding: 4% 18% 7% 18%;
    border: solid;
    border-width: 1px;
    border-right: none;
    border-bottom: none;
    
}
.row{
    margin: 0;
}
.login-back{
    background-color: #FEC969;
    border: solid;
    border-width: 1px;
    border-right: none;
    border-bottom: none;

}
.signup{
    font-size: 1.2rem;
    margin-left: 5.2rem;
}
/******************************************Media query*************************************/
@media(max-width:1100px){
    .namaste {
        width: 50%;
        margin: 60% 25%;
    }
    .login-title {
        position: absolute;
        margin: 32% 25%;
        font-size: 3rem;
        font-family: 'Montserrat', sans-serif;
    }
}
@media(max-width:992px){
    .login-title {
        position: absolute;
        margin: 30% 17%;
        font-size: 3rem;
        font-family: 'Montserrat', sans-serif;
    }

}
@media(max-width:500px){
    .login-title{
        font-size: 2.5rem;
    margin-top: 20%;
    margin-left: 20%;
    }
    .namaste{
        margin: 45% 25%;
    }
}
.order-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}